services:
  dev:
    build:
      context: ../.devcontainer
      dockerfile: Dockerfile
    volumes:
      - ../:/workspace:cached
    working_dir: /workspace
    tty: true
    stdin_open: true
    command: sleep infinity
